* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*position: relative;*/
}

header {
    width: 100vw;
    height: 10vh;
    background-color: brown;
}
#map {
    float: left;
    width: 70vw;
    height: 60vh;
}

#sidebar {
    float: right;
    width: 30vw;
    height: 100vh;
    background-color: blueviolet;
}

#dropdowns {
    position: absolute;
    top: 70vh;
    background-color: chartreuse;
    /*opacity: 0.5;*/
}